*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --black: #000;
    --primary-grey: #424242;
    --secondary-grey: #F5F6F8;
    --primary-pink: #FF4967;
    --secondary-pink: #FECED6;
}

html{
    scroll-behavior: smooth;
}


/* ---general styling--- */

a{
    text-decoration: none;
    color: var(--black)
}

li{
    list-style: none;
}

h1, h2, h4{
    color: var(--black);
}

h1{
    font-size: 2.6rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.3rem;
    color: var(--primary-grey);
}

h4{
    font-size: 1.2rem;
}